Project/HelperService/Exercises/EchoWithFault/EchoWithFaultClient/src/META-INF/wsdl/localhost_8070/EchoWithFault/echoWithFaultService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:echowithfault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="echoWithFault" targetNamespace="urn:echowithfault">
    <types>
        <xsd:schema xmlns:tns="http://j2ee.netbeans.org/wsdl/EchoWithFault/echoWithFault" targetNamespace="urn:echowithfault">
            <xsd:element name="faultElement" type="xsd:string"></xsd:element>
            <xsd:element name="input" type="xsd:string"></xsd:element>
            <xsd:element name="output" type="xsd:string"></xsd:element>
        </xsd:schema>
    </types>
    <message name="echoRequest">
        <part name="part1" element="tns:input"></part>
    </message>
    <message name="echoResponse">
        <part name="part2" element="tns:output"></part>
    </message>
    <message name="echoFault">
        <part name="part3" element="tns:faultElement"></part>
    </message>
    <portType name="echoWithFaultPortType">
        <operation name="echo">
            <input name="input1" message="tns:echoRequest"></input>
            <output name="output1" message="tns:echoResponse"></output>
            <fault name="fault1" message="tns:echoFault"></fault>
        </operation>
    </portType>
    <binding name="echoWithFaultBinding" type="tns:echoWithFaultPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <operation name="echo">
            <soap:operation></soap:operation>
            <input name="input1">
                <soap:body use="literal"></soap:body>
            </input>
            <output name="output1">
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"></soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="echoWithFaultService">
        <port name="echoWithFaultPort" binding="tns:echoWithFaultBinding">
            <soap:address location="http://localhost:8070/EchoWithFault/echoWithFaultService"></soap:address>
        </port>
    </service>
</definitions>