Project/ClientLameDuck/xml-resources/web-service-references/LameDuckService/wsdl/localhost_8080/LameDuck/LameDuckService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://types.airlinereservation.ws" targetNamespace="urn://types.airlinereservation.ws" elementFormDefault="qualified">
 <xsd:complexType name="Flight">
        <xsd:sequence>
            <xsd:element name="From" type="xsd:string"></xsd:element>
            <xsd:element name="To" type="xsd:string"></xsd:element>
            <xsd:element name="DepartureDate" type="xsd:dateTime"></xsd:element>
            <xsd:element name="ArrivalDate" type="xsd:dateTime"></xsd:element>
            <xsd:element name="Carrier" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
     <xsd:complexType name="FlightInfo">
        <xsd:sequence>
            <xsd:element name="BookingNo" type="xsd:string"></xsd:element>
            <xsd:element name="Price" type="xsd:float"></xsd:element>
            <xsd:element name="ReservationService" type="xsd:string"></xsd:element>
            <xsd:element name="Flight" type="tns:Flight"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FlightList">
        <xsd:sequence>
            <xsd:element name="FlightInfo" type="tns:FlightInfo" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchFlight">
        <xsd:sequence>
            <xsd:element name="From" type="xsd:string"></xsd:element>
            <xsd:element name="To" type="xsd:string"></xsd:element>
            <xsd:element name="DepartureDate" type="xsd:dateTime"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="creditCardInfoType">
        <xsd:sequence>
            <xsd:element name="expirationDate" type="tns:expirationDateType"></xsd:element>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="number" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="expirationDateType">
        <xsd:sequence>
            <xsd:element name="month" type="xsd:int"></xsd:element>
            <xsd:element name="year" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>